<div class="container" style="height: 100vh">
  <div style="display: flex; flex-direction: column">
    <div class="row featurette" style="flex: 1; height: 100vh">
      <div class="col-md-7 order-md-2 my-auto">
        <h1 class="featurette-heading text-center" data-aos="fade-left" data-aos-duration="2500">A COLLECTION OF<br>POETRY </h1>
        <br>
        <h2 class="text-center text-muted" data-aos="flip-down" data-aos-duration="2000">BY</h2>
        <h2 class="text-center text-muted" data-aos="fade-up" data-aos-duration="3000">ARTHUR H. SCHILKE</h2>
      </div>
      <div class="col-md-5 order-md-1 my-auto schilke">
        <img class="featurette-image img-fluid mx-auto my-auto image" src="../../assets/schilke3.png"  alt="Arthur H. Schilke">
        <div class="middle">
          <div clas="text">Arthur H. Schilke at Lake Eola Park<br>
            in Orlando, Florida about 1940.
          </div>
        </div>
      </div>
    </div>
  </div>
  <a pageScroll href="#categories">
    <div class="arrow pointer"></div>
  </a>
</div>
<div class="container marketing" id="categories" style="height: 100vh;">
    <h2 class="text-muted text-center pb-5" style="padding-top: 70px">Poem Categories</h2>
    <div class="row">
      <div class="w-100"></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <a pageScroll class="pointer newspaper"  href="#published">
          <i class="far fa-newspaper fa-4x"></i>
          <h2 class="text-body">Published</h2>
          <p class="text-body">Poems that were published in the <i>Orlando Sentinel</i> and the <i>Orlando Evening Star</i> in the 1930's and early 1940's.</p>
        </a>
      </div>
      <!-- <div class="col-lg-4 newspaper pointer">
          <a pageScroll href="#published"><i class="far fa-newspaper fa-4x"></i></a>
          <h2>Published</h2>
          <p>Poems that were published in the Orlando Sentinel and the Orlando Evening Star in the 1930's and early 1940's.</p>
        </div> -->
      <!-- <div class="col-lg-4">
        <a href="worshipful"><i class="fas fa-cross fa-4x"></i></a>
        <h2>Worshipful</h2>
        <p>Poems related to our Lord and Savior Jesus Christ and the Word of God. Poems of worship and Praise.</p>
      </div> -->

      <div class="col-lg-4">
        <a href="worshipful" class="cross pointer">
          <i class="fas fa-cross fa-4x"></i>
          <h2 class="text-body">Worshipful</h2>
          <p class="text-body">Poems related to our Lord and Savior Jesus Christ and the Word of God. Poems of worship and Praise.</p>
        </a>
      </div>
      <div class="w-100 pb-5"></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <a href="general" class="globe-americas pointer">
          <i class="fas fa-globe-americas fa-4x"></i>
          <h2 class="text-body">General</h2>
          <p class="text-body">Poems about life, love and family. Poems about home and politics. Poems about anything.</p>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="untitled" class="question-circle pointer">
          <i class="far fa-question-circle fa-4x"></i>
          <h2 class="text-body">Untitled</h2>
          <p class="text-body">Poems that were never given titles. Many are short. Maybe, works in progress that were never finished.</p>
        </a>
      </div>
    </div>
</div>

<!-- <hr class="featurette-divider" id="test"> -->
<!-- <div class="container marketing" style="height: 100vh" style="background-color: transparent">
  <h2 class="text-muted text-center pb-5" >Poem Categories</h2>
  <div class="row">
    <div class="w-100"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <a pageScroll href="#test2"><i class="far fa-newspaper fa-4x"></i></a>
      <h2>Published</h2>
      <p>Poems that were published in the Orlando Sentinel and the Orlando Evening Star in the 1930's and early 1940's.</p>
    </div>
    <div class="col-lg-4">
      <a href="worshipful"><i class="fas fa-cross fa-4x"></i></a>
      <h2>Worshipful</h2>
      <p>Poems related to our Lord and Savior Jesus Christ and the Word of God. Poems of worship and Praise.</p>
    </div>
    <div class="w-100 pb-5"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <a href="worshipful"><i class="fas fa-globe-americas fa-4x"></i></a>
      <h2>General</h2>
      <p>Poems about life, love and family. Poems about home and politics. Poems about anything.</p>
    </div>
    <div class="col-lg-4">
      <a href="humorous"><i class="far fa-question-circle fa-4x"></i></a>
      <h2>Untitled</h2>
      <p>Poems that were never given titles. Many are short. Maybe, works in progress that were never finished.</p>
    </div>
  </div>
</div> -->
<!-- <hr class="featurette-divider" id="test2"> -->
<div class="container marketing" id="published">
  <div>
    <h2 class="text-muted" style="padding-top: 70px">
      The following poems were published in the <i>Orlando Sentinel</i> and the <i>Orlando Evening Star</i> in the 1930's and early 1940's:
    </h2>
  </div>
  <br>
  <br>
  <div class="row featurette">
    <div class="col-md-7">
      <h3 class="text-center">{{poem1.title}}</h3>
      <p class="lead" [innerHTML]="poem1.text"></p>
      <h5 class="text-muted text-right">{{poem1.author}}</h5>
    </div>
    <div class="col-md-5" data-aos="fade-left" data-aos-offset="300" data-aos-duration="1800">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/wallStreet.jpg" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h3 class="featurette-heading text-center">{{poem2.title}}</h3>
      <h4 class="text-center text-muted">{{poem2.author}}</h4>
      <div style="margin-left: 0; margin-right: 0" class="titled">
        <p class="lead" [innerHTML]="poem2.text"></p>
      </div>
      </div>
    <div class="col-md-5 order-md-1 my-auto" data-aos="flip-left" data-aos-offset="100" data-aos-duration="1800">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/oneTrueFriend.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7" style="border: 1px solid black">
      <h2 class="featurette-heading text-center" style="padding: 35px 0">{{poem3.title}}</h2>
      <div class="titled">
        <p class="lead" [innerHTML]="poem3.text"></p>
      </div>
      <p class="lead float-right" [innerHTML]="poem3.author"></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/itsNotWhatYouHave.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading text-center">{{poem4.title}}</h3>
      <h4 class="text-center text-muted">{{poem4.author}}</h4>
      <div style="margin-left: 0; margin-right: 0" class="titled">
        <p class="lead" [innerHTML]="poem4.text"></p>
      </div>
    </div>
    <div class="col-md-4 order-md-1 my-auto" data-aos="zoom-in-up" data-aos-duration="1800">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/clouds.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7" style="border-top: 2px dotted black; border-bottom: 2px dotted black">
      <i>
      <h3 class="featurette-heading text-center">He Is No Friend of Mine</h3>
      <h4 class="text-center text-muted">{{poem5.author}}</h4>
      </i>
      <div class="titled">
        <p class="lead" [innerHTML]="poem5.text"></p>
      </div>
    </div>
    <div class="col-md-5 my-auto" data-aos="zoom-out-left" data-aos-offset="150" data-aos-duration="1800">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/noFriend.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h3 class="featurette-heading text-center">{{poem6.title}}</h3>
      <h4 class="text-center text-muted">{{poem6.author}}</h4>
      <div style="margin-left: 0; margin-right: 0" class="titled">
        <p class="lead" [innerHTML]="poem6.text"></p>
      </div>
    </div>
    <div class="col-md-5 order-md-1 my-auto" data-aos="fade-up" data-aos-offset="150" data-aos-duration="1800">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/iShallNotLiveInVain.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
</div>